<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="../../static/css/stylesheet.css">
</head>
<body>
 <div class="form">
         <h5>Signup Form</h5>
         <form action="">



             <div class="form-group">
                 <label for="name">FullName: </label>
                 <input type="text" id="name" fullname="fullname">
             </div>



             <div class="form-group">
                 <label for="name">Email: </label>
                <input type="text" id="email" email="email">
            </div>



            <div class="form-group">
                <label for="name">Phone number: </label>
                <input type="text" id="pn" Number="Phone-number">
            </div>

             <div class="form-group">
                 <label for="name">Password: </label>
                 <input type="password" id="id_password" Password="Password">
             </div>

              <div class="form-group">
                <input type="submit" value="SUBMIT">
            </div>
        </form>
    </div>
</body>
</html>