.a{
    background-color: black;
    height: 30vh;
}

.b{
    background-color: #0f5132;
    height: 30vh;
}
.c{
    background-color: #0a58ca;
    height: 30vh;
}
.d{
    background-color: #2b2f32;
    height: 30vh;
}
